body {
  height: 100vh;
}

.book_list{
  margin-bottom: 5vh;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.img{
  height: 23em;
}

.cart_section {
  margin-top: 5vh;
  margin-bottom: 1vh;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
